.kasa-body-about{
    width: 1240px;

}

.kasa-img-about{
    padding: 31px 0px;
   
}

.kasa-about{
    margin-left: 108px;
    margin-right: 109px;
}



/* .kasa-body-about{
    display :flex;
    flex-direction: row;
    align-items: center;
    /* width: 1220px; */
/* } */ 