/* div{
    display: inline;
    
    width: 100%;
} */
.kasa-body-accomodation{
   
    width : 1240px;
    
}
.kasa-karousel{
    width : 1240px;
    height : 415px;
    border : solid black 2px;
    border-radius: 25px;
    
}

.kasa-title-accomodation{
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;

    display: flex;
    align-items: flex-end;

    color: #FF6060;
}

.kasa-location-accomodation{
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;


    display: flex;
    align-items: flex-end;

    color: #FF6060;
}

.kasa-dropdow-accomodation{
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.kasa-equipement-ul{
    padding-left: 20px;
}
.kasa-equipement-li{
    list-style-type: none;
    
}

.kasa-tag-ul{
    
    display: flex;
    gap: 20px;
    padding-left: 0px ;

}

.kasa-tag-li{
    list-style-type: none;
    background-color: #FF6060;
    color: white;
    width :115px;
    height : 25px;
    border-radius: 10px;
    text-align: center;
}
.kasa-top-accomodation{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.kasa-top-accomodation-one{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.kasa-titles-accomodation{
    display: flex;
    flex-direction: column;
}
.kasa-title-accomodation{
    margin: 0px;
}
.kasa-proprio{
    display: flex;
    flex-direction: row;
    gap : 20px;
}

.kasa-name-proprio{
    width: 93px;
    height: 52px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    width: min-content;
    text-align: right;

    color: #FF6060;

}
.kasa-picture-proprio{
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.kasa-top-accomodation-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.kasa-star{
    width: 24.75px;
    height : 24px;
}