
.kasa-body-accomodation{
   
    width : 100%;
    
}

.kasa-top-accomodation{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.kasa-top-accomodation-one{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.kasa-titles-accomodation{
    display: flex;
    flex-direction: column;
}

.kasa-title-accomodation{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;

    display: flex;
    align-items: flex-end;

    color: #FF6060;
    margin: 0px;
}

.kasa-location-accomodation{
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;


    display: flex;
    align-items: flex-end;

    color: #FF6060;
}
.kasa-proprio{
    

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.kasa-name-proprio{
    width: 93px;
    height: 52px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    width: min-content;
    text-align: right;

    color: #FF6060;

}
.kasa-picture-proprio{
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.kasa-top-accomodation-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kasa-tag-ul{
    
    display: flex;
    gap: 20px;
    padding-left: 0px ;

}

.kasa-tag-li{
    list-style-type: none;
    background-color: #FF6060;
    padding:5px;
    font-size: 14px;
    color: white;
    width :115px;
   
    border-radius: 10px;
    text-align: center;
    
}


.kasa-star{
    width: 24.75px;
    height : 24px;
    padding-right: 15.25px;
}

.kasa-dropdow-accomodation{
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.kasa-equipement-ul{
    margin-top: 0px;
    padding-left: 0px;
}
.kasa-equipement-li{
    list-style-type: none;
    
}



@media screen and (max-width: 720px) {

    .kasa-top-accomodation-one {
        position: relative;
        flex-direction: column;
        height: 80px;
        
    }

    .kasa-title-accomodation{
        font-size: 18px;
    }

    .kasa-location-accomodation{
        font-size: 14px;
    }

    .kasa-proprio{
        position: absolute;
        bottom: -120px;
        right: 10px;
      
    }
    .kasa-name-proprio{
        font-size: 12px;
    }
    .kasa-picture-proprio{
        width: 32px;
        height: 32px;
        margin-top: 12px;
    }

    .kasa-top-accomodation-two {
        
        flex-direction: column;
    }

    .kasa-tag-li{
        font-size: 10px;
    }
    .kasa-star{
        width: 13.41px;
        height: 13px;
        gap: 6.59px;
    }

    .kasa-dropdow-accomodation{
        
        flex-direction: column;
        gap: 0px;
    
    }


}


