.kasa-dropdown{
    width: 100%;
}

.kasa-dropdown-rectangle{
    background-color: #FF6060;
    
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 31px;
    
}

.kasa-title-dropdown{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;

    display: flex;
    align-items: center;

    color: #FFFFFF;
    padding-left: 18.08px;

   
}

.kasa-dropdown-closed{
    
    background-image: url("../../assets/Vector_haut.png");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    width: 28.92px;
    height: 28.92px;
    
    cursor: pointer;
    display : flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16.08px;
    margin-top: auto;
    margin-bottom: auto;
    background-size: contain;

    background-color: transparent;
    border: none;
   
    transition: transform 500ms ease-in-out;
}

.kasa-dropdown-open{
background-image: url("../../assets/Vector_bas.png");
transform: rotate(180deg);
background-repeat: no-repeat; 
width: 28.92px;
height: 28.92px;
background-size: contain;
cursor: pointer;
display : flex;
justify-content: flex-end;
align-items: center;
margin-right: 16.08px;
margin-top: auto;
margin-bottom: auto;
position: relative;
z-index: 1;

background-color: transparent;
border: none;

}

.kasa-text{
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;

    color: #FF6060;
   
    margin-top: -41px;
    padding: 36px 27px 19px 18px;
    
    background-color: #F6F6F6;
    border-radius: 0px 0px 5px;

}

@media screen and (max-width: 720px) {
    .kasa-dropdown{
        height: 100%;
        
    }
    .kasa-dropdown-rectangle{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .kasa-title-dropdown{
        font-size: 13px;
    }

    .kasa-dropdown-closed{
        margin-top: auto;
        margin-bottom: auto;
        width: 16px;
        height: 9.14px;
    }
    .kasa-dropdown-open{
        margin-top: auto;
        margin-bottom: auto;
        width: 16px;
        height: 9.14px;
    }
    .kasa-text{
        font-size: 12px;
    }
}